@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
body{
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height:350px;
    width: 500px;
    border-radius: 23px;
    background-color:hsl(0, 0%, 100%);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 0px;
}
img{
    height:350px;
    width: 250px;
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
}
.product-content{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
}
.product-name{
    font-family: 'Fraunces', serif;
    font-size: 26px;
    font-weight: 1000;
    margin-top: -10px;
}
.top,.middle{
    margin-bottom: 6px;
}
#content{
    margin:17px;
}
.price{
    display: inline;
    margin-right: 10px;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 30px;
    font-weight: 600;
}
#actual-price{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    position: absolute;
}
#description{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    margin-top: -12px;
}
#perfume{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 19px;
    font-size: 12px;
}
button{
    display: block;
    margin-top: 10px;
    height: 42px;
    width: 206px;
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    border:0.3px solid hsl(158, 36%, 37%);
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
    background-color: #374B43;
    /* box-shadow: 10px 10px 10px 3px hsl(158, 36%, 37%); */
}
svg{
    margin-right: 10px;
}
@media only screen and (max-width:375px) {
    .card{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: 1fr;
        height: 530px;
        width: 255px;
    }
    img{
        height: 235px;
        width: 256px;
        border-top-left-radius: 19px;
        border-top-right-radius: 19px;
        border-bottom-left-radius: 0px;
    }
    #content{
        margin-top: 14px;
    }
    #perfume{ 
        margin-top: -29px;
    }
    .product-name{
        display: inline;
        font-size: 22px;
    }
    #description{
        margin-top: 10px;
    }
    .price{
        font-size: 26px;
    }
    
   
    
}